html{
    background: rgb(242,242,242); /* Old browsers */
    background: -moz-linear-gradient(top,  rgb(242,242,242) 1%, rgb(81,81,81) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,rgb(242,242,242)), color-stop(100%,rgb(81,81,81))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgb(242,242,242) 1%,rgb(81,81,81) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgb(242,242,242) 1%,rgb(81,81,81) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgb(242,242,242) 1%,rgb(81,81,81) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgb(242,242,242) 1%,rgb(81,81,81) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f2f2', endColorstr='#515151',GradientType=0 ); /* IE6-9 */
    background-repeat: no-repeat ,repeat-x;
    background-position-x: center;
    background-attachment:fixed;
}
body{
    font: 18px 'Calibri', sans-serif;
    width:1000px;
    background-color:rgb(235,235,235);
    background-attachment: fixed;
   
    position:relative;
    margin:0 auto;

}
.whiteBg{
    margin-top:35px;
    width:90%;
    margin-left:15px;
    background-color:white;
    padding:5px;
    height:80%;
    overflow:auto;

    -webkit-box-shadow: 0px 0px 10px 2px rgba(66,65,66,0.75);
    -moz-box-shadow: 0px 0px 10px 2px rgba(66,65,66,0.75);
    box-shadow: 0px 0px 10px 2px rgba(66,65,66,0.75);
}
/***************HEADER***********************/
header{
    background-color:rgb(235,235,235);
    float:left;
    width:100%;
    height:170px;
    position:absolute;
    top:0%;
    border-bottom:2px solid gray;
     -webkit-box-shadow: 0px -10px 20px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow:     0px -10px 20px 0px rgba(0, 0, 0, 0.75);
    box-shadow:          0px -10px 20px 0px rgba(0, 0, 0, 0.75);
}
.logo{
    margin-left:50px;
    float:left;
}
.nazev{
    float:left;
    color:RGB(40,123,165);
    font-size:45px;
    margin-top:50px;
    margin-left:50px;
}
/***********************Conteiner*************************/
.conteiner{
    float:left;
    width:100%;
    min-height:610px;
    border-top:2px solid white;
    border-bottom:2px solid rgb(125, 125, 125);
    margin-top:172px;
    margin-bottom:1px;
    padding-bottom:3px;
    
 -webkit-box-shadow:    0px 10px 20px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow:    0px 10px 20px 0px rgba(0, 0, 0, 0.75);
    box-shadow:         0px 10px 20px 0px rgba(0, 0, 0, 0.75);
background-color:rgb(235,235,235);
}

.conteiner:after{
    clear: both;
}
/********************** MENU ***************************/
.navigation{
    float:left;
    width:200px;
    height:100%;
    margin-top:35px;
}
nav{
    width:80%;
    margin:0 auto;
    text-align:center;
}
nav a{
    text-decoration: none;
    color:black;
    font: 22px 'Calibri', sans-serif;
}
nav ul{list-style-type: none;}
nav ul li {
    margin-bottom:1px;
    padding:8px 25px;
    background-color:rgb(43,156,214);
}
nav ul li:hover{
    background-color:rgb(74,180,242);
}


/********************** COntent ***********************/
.content{
    float:left;
    width:80%;
    height:100%;
}




/**********************FOOTER*/
footer{
    width:100%;
    padding-top:5px;
    padding-bottom:5px;
    height:220px;
    background-color:RGB(40,123,165);
    position:relative;
    float:left;
    bottom:0;
     -webkit-box-shadow: -2px 4px 35px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow:    -2px 4px 35px 0px rgba(0, 0, 0, 0.75);
    box-shadow:         -2px 4px 35px 0px rgba(0, 0, 0, 0.75);
   }
.odkazy,.kontakt,.vytvoril{
    float:left;
    width:33%;
    height:100%;
    text-align:center;
    color:white;
    font-size:22px;
}
.odkazy,.kontakt{
    border-right:1px solid gray;
}
.kontakt,.vytvoril{
    border-left:1px solid white;
}
footer a{
    text-decoration:none;
    color:white;
    font-size:22px;
}
footer a:hover{
    text-decoration:underline;
}
.footerH{
    font: 28px 'Calibri', sans-serif;
    font-weight:normal;
    margin:0px;
    margin-bottom:20px;
}


/************clenove****************/

.dogUser{
    background-color:white;
    width:45%;
    margin-top:20px;
    margin-right:5%;
    height:150px;
    float:left;
    position:relative;
}
.dogLogo{
    position:absolute;
    right:5%;
    bottom:3%;
    z-index:100;
}
.dogImg{
    width:30%;
    float:left;
    height:130px;
    padding:10px;
    text-align:center;
}
.dogImg img{
    position:relative;
    height:125px;
    margin:0 auto;
}
.dogInfo{
    margin-top:15px;
}

/************ AKTUALITY ***************/
.news{
    background-color:white;
    width:90%;
    height:140px;
    float:left;
    margin-top:35px;
    margin-left:15px;
    padding:10px;
    color:black;
    -webkit-box-shadow: 0px 0px 10px 2px rgba(66,65,66,0.75);
    -moz-box-shadow: 0px 0px 10px 2px rgba(66,65,66,0.75);
    box-shadow: 0px 0px 10px 2px rgba(66,65,66,0.75);

}
.newsTitle{
    font-weight:bold;
    font-size:20px;
}
.newsCreated{font-size:14px;}
.newsBody{
    margin-top:20px;
}

/*********DETAIL*******/


.detailHeader, .historyHeader{
    text-align:center;
        margin-top:10px;

}
.detailTitle, .historyTitle{
    font-size:28px;
    font-weight:bold;
    width:100%;
}
.detailCreated{
    width:100%;
    font-size:12px;
}
.detailBody, .historyBody{
    margin-top:30px;
    padding:10px;
}

/*********Galerie***********/
.galleryConteiner{
    margin-right:15px;
    margin-top:40px;
}
.Leva{float:left; margin-bottom:75px;}
.Prava{float:right; margin-top:75px;margin-right:14px;}
.Prava2{
    margin-right:14px;
    margin-top:145px;
    float:right;
}

.galerie{
 width:335px;
 height:220px;
 background-color:white;
 position:relative;
}
.galImg{
    width:101px;
    height:140px;
    text-align:center;
    position:relative;
    float:right;
    margin-top:5px;
}
.galImgLeva{
    width:101px;
    height:140px;
    text-align:center;
    position:relative;
    float:left;
    margin-top:5px;
}
.galImgLeva img, .galImg img{
    margin:0 auto;
    height:80%;
}
.galHeader{
    width:85%;
    height:150px;
    margin:0 auto;
}

/***********Gallery detail**************/
.center{
    text-align:center;
}
.galDetailTitle{ 
    text-align:center;
    font-size:28px;
    font-weight:bold;
    width:100%;
}
.galDetailBody{
    margin:30px;
    float:left;
    width:100%;
    
}
.galDetailImgs{
    float:left;
    margin:14px;
    width:150px;
    height:200px;
    border:1px solid black;
    border-radius:10px;
    text-align:center;
    
    -webkit-box-shadow: 0px 0px 5px 2px rgba(43,156,214,0.75);
    -moz-box-shadow: 0px 0px 5px 2px rgba(43,156,214,0.75);
    box-shadow: 0px 0px 5px 2px rgba(43,156,214,0.75);
}
.galDetailImgs img{
    width:100%;
    margin-top:5px;
    
}